@model IEnumerable<MapYourMeal.Models.Restaurant>

<h3 class="my-5">
    Restaurants
</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Reviews</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.RestaurantName</td>
                <td>@restaurant.Longitude</td>
                <td>@restaurant.Latitude</td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Note</th>
                                <th>Rating</th>
                                <th>Dish</th>
                                <th>Is Gluten Free</th>
                                <th>Is Vegan</th>
                                <th>Is Dairy Free</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var review in restaurant.Reviews)
                            {
                                <tr>
                                    <td>@review.Note</td>
                                    <td>@review.Rating</td>
                                    <td>@review.Dish</td>
                                    <td>@(review.IsGlutenFree ? "Yes" : "No")</td>
                                    <td>@(review.IsVegan ? "Yes" : "No")</td>
                                    <td>@(review.IsDairyFree ? "Yes" : "No")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>